


<div class = "container">
  <div class = "row">
      <div class= "col-3">
        <div class="card card_bad card_bad_color" style="width: 18rem;">
      <% if @serie== "Breaking Bad"%>
          <%= image_tag("/logos/breaking_bad.ico", :alt => "rss feed") %>
      <% elsif @serie== "Better Call Saul" %>
          <img class="card-img-top" src="/logos/better_call_saul.png" alt="Card image cap">
      <% end %>
          <div class="card-body">
          <h1 class="card-title title">Season <%= @season%></h1>
            <h5 class="card-title title">Episodes</h5>
            <table class="table table-light table-hover">
              <% @season_info.keys.sort.each do |episode|%>
                <tr>
                  <td ><%= episode%></td>
                  <% if episode == @episode_info["episode"]%>
                  <td ><%= link_to @season_info[episode][:title],  episode_path(@season_info[episode][:episode_id]), class: "green" %></td>
                  <% else %>
                  <td ><%= link_to @season_info[episode][:title],  episode_path(@season_info[episode][:episode_id]) %></td>
                  <%end%>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
      <div class= "col-3">
<div class="card card_bad card_bad_color" style="width: 30rem;">
          <div class="card-body">
          <h1 class="card-title title">Episode:</h1>
          <h2 class="card-title title"><%= @episode_info["title"] %></h2>
          <h3 class="card-title title">Episode N°: <%= @episode_info["episode"]%></h3>
          <h3 class="card-title title">Aired: <%= Date.parse(@episode_info["air_date"])%></h3>
          <h4 class="card-title title top_card">Characters</h4>
            <table class="table table-light table-hover">
              <% @episode_info["characters"].each do |character|%>
                <% character_name = character.tr('.', '')%>
                <tr>
                  <td><%= link_to character_name, character_path(character_name)%></td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class= "col-0 col-md-6">
    
    </div>
  </div>
</div>
